section {

}
#colorD{
    width:100px;
    height:100px;
    border:1px solid black;
}
input, p {
    display: inline-block;
}

div{
    position: absolute;
    left: 25%;
    top: 5%;
}

main {
    border: lightgray solid 5px;
    border-radius: 20px;
    width: 500px;
}
.slider{
    appearance: none;
    background-color: lightgray;
    border-radius: 20px;
    width: 200px;


}

