
body {
    margin: auto;

}

#knop{
    width: 100%;
    background: green;
    padding-bottom: 10px;
    font-size: 20px;

}
#textKnop{
    width: 100%;
    padding-bottom: 10px;

}

.paLef{
    padding-left: 15px;
    padding-top: 10px;
}
.plc {
    padding-bottom: 15px;
}
