body{
    font-family: Helvetica, sans-serif;
}

h2 {
    font-size: 80px;
}
h1 {
    font-size: 40px;
}

header h2 {
    color: #EDF2F4;
}
h1{
    color: #EDF2F4;
}
header {
    padding: 30px;
    color: #8D99AE;
    background-color: #2B2D42;
    margin-bottom: 10px;
}
footer {
    padding: 30px;
    color: #8D99AE;
    background-color: #2B2D42;
    margin-bottom: 10px;
}
section {
    padding: 30px;
    background-color: #8D99AE;
    margin-bottom: 10px;
}

a:link{
    color: #EF233C;
}
section > p:nth-child(3n+2) {
    font-weight: bold;
}